# Main app framework
streamlit

# ML Libraries - Let pip resolve compatible versions
torch
transformers
sentencepiece

# SpaCy and its dependencies
spacy==3.7.4
spacy-transformers==1.3.4
https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.7.3/en_core_web_trf-3.7.3.tar.gz

# For making HTTP requests
requests
